

@media(max-width:1440px){
.portfolio-works__item img{
	width: 300px;
    height: 200px;
}
.My_works{
    bottom:5px;
}
.portfolio-works__title h2 {
    font-size: 15px;
}
.portfolio-works {
    max-width: 700px;
}
.modal__photo-inner img{
    max-width: 325px;
}
}

@media(max-width:1050px){
.main__wrapper{
    padding: 15px;
}

}
@media(max-width:1000px){
.portfolio-works{
    flex-direction: column;
    align-items: center;
}
}
@media(max-width:875px){

.card {
    /* width: 447px; */
    height: max-content;
    position: relative;
    margin: 0 auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.My_works {
    padding: 10px 25px;
    margin-top: 28px;
    margin-bottom: 25px;
    }
.heading{
    margin-top: 30px;
}
.card-photo img{
width: 100%;
    height: 400px;
}
.card-photo{
margin-bottom: 15px;
width: 100%;
}
.card-text{
    width: 100%;
}
}
@media(max-width:824px){
.portfolio-works {
    max-width: 345px;
}
}
@media(height:823px){
.My_works {
    bottom: -218px;
}
}
@media(height:812px){
.My_works {
    bottom: -253px;
}
}
@media(max-width:800px){
main {
    
    padding-top: 50px;
    padding-bottom: 50px;
}
.main__wrapper {
    
    margin-left: 50px;
    margin-right: 50px;
    }
}

@media(max-width:600px){
.header{
    padding: 15px;

}

body{
    position: relative;
}
.My_works{
        top: -722px;
        
}
    }
@media(max-width:564px){
.header{
    padding: 15px 15px 0;
}
.card{
    max-width: 100%;
}
}
@media(max-width:545px){
.modal__photo-inner img{
    max-width: 100%;
}
.card-photo-img{
    pointer-events: none;
}
}
@media(max-width:493px){
.portfolio-works__item img {
    width: 100%;
    height: 200px;
}
main {
    
    padding-top: 15px;
    padding-bottom: 15px;
}
.main__wrapper {
    
    margin-left:  15px;
    margin-right: 15px;
    }
}

@media(max-width:400px){

}

@media(max-width:390px){
.card{
    padding: 30px;
}
h1 {
    
    font-size: 26px;
}
}






@media(max-width:356px){
.badge {
    font-size: 14px;
}

.My_works {
   bottom: -372px;
}
    }
@media(max-width:348px){
.heading{
    font-size: 28px;
}
.card-text p {
    font-size: 14px;
    }
}


