@import '../css/reset';

*{
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    
}
a{
    text-decoration: none;
}
.container{
    max-width: 1470px;
    padding: 0 15px;
    margin: 0 auto;
}
button{
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}
.header{
    padding: 31px 0 33px;
    
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    &__left{
        display: flex;
        align-items: center;
    }
    &__right{
        display: flex;
        align-items: center;
    }
    &__list{
        display: flex;
        align-items: center;
        li{
            a{
                color: #252525;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 25px; /* 166.667% */
            }
            .header__list-help{
                border: none;
                padding-right: 16px;
                position: relative;
                background-color: transparent;
                &::after{
                    content: "";
                    position: absolute;
                    right: 0;
                    height: 7px;
                    width: 7px;
                    background-image: url('../images/down.png');
                    background-size: cover;
                    top: 6px;
                }
            }
            + li{
                margin-left: 55px;
            }
        }
    }
    &__directions{
        margin: 0 45px 0 50px;
        color: #252525;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px;
        border-radius: 100px;
        background: #FFD600;
        border:none;
        padding: 12px 49px 13.56px 27px;
        cursor: pointer;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 8px;
            height: 8px;
            background-image: url('../images/down.png');
            right:20px;
            top: 21px;
        }
    }
    &__window{
        display: none;
        position: absolute;
        left: 644px;
        top: 56px;
        z-index: 5;
        border-radius: 15px;
        background: #FFF;
        box-shadow: 0px 7px 100px 0px rgba(0, 0, 0, 0.15);
        padding: 17px 23px;
        &-title{
            color: #000;
            font-size: 15px;
            font-style: normal;
            margin-bottom: 15px;
            font-weight: 400;
            line-height: 25px; /* 166.667% */
        }
        &-inner{
            display: flex;
            margin-bottom: 16px;
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 162px;
                height: 50px;
                p{
                    color: #FFF;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 25px; /* 178.571% */
                    margin-left: 11px;
                }
            }
        }
        &-whatsApp{
            border-radius: 100px;
            background: #4CAF50;
            margin-right: 14px;
        }
        &-telegram{
            border-radius: 100px;
            background: #039BE5;
        }
        &-wrapper{
            display: flex;
            align-items: center;
            a{
                display: flex;
                align-items: center;
                p{
                    color: #000;
                    margin-left: 9px;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 25px; /* 178.571% */
                }
                + a{
                    margin-left: 31px;
                }
            }
        }
    }
    &__search{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 100px;
        background: #F5F5F5;
        border: none;
        cursor: pointer;
    }
    &__hearth{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 100px;
        background: #F5F5F5;
        border: none;
        cursor: pointer;
        margin: 0 20px;
    }
    &__come{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #252525;
        width: 114px;
        height: 50px;
        border: none;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px; /* 166.667% */
        border-radius: 100px;
        background: #F5F5F5;
    }
}
.header__window.visible{
    display: block;
}
.main{
    min-height: 640px;
    background-image: url('../images/man.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 124px;
    border-radius: 20px;
    &__title{
        color: #252525;
        text-align: center;
        max-width: 549px;
        font-size: 42px;
        margin: 0 auto;
        font-style: normal;
        font-weight: 900;
        padding-bottom: 41px;
        position: relative;
        line-height: 52px;
        margin-bottom: 8px;
        &::after{
            content: "";
            position: absolute;
            width: 228px;
            height: 41px;
            background-image: url('../images/swoosh.png');
            bottom: 0;
            left: 29.6%;
            
        }
    }
    &__subtitle{
        color: #252525;
        text-align: center;
        margin-bottom: 48px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__search{
        &-inner{
            display: flex;
            justify-content: center;
        }
        display: flex;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 11px;
        border-radius: 100px;
        background: #FFF;
        box-shadow: 0px 42px 80px 0px rgba(0, 0, 0, 0.25);
        padding-left: 21px;
        &-directions{
            display: flex;
            align-items: center;
            background-color: transparent;
            border: none;
            cursor: pointer;
            color: #7B7B7B;

            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            p{
                margin-left: 15px;
            }
        }
        &-border{
            height: 37px;
            width: 1px;
            background: #EBEBEB;
            margin-left: 27px;
            margin-right: 28px;
        }
        &-date{
            display: flex;
            align-items: center;
            background-color: transparent;
            border: none;
            cursor: pointer;
            color: #7B7B7B;
            margin-right: 220px;
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            p{
                margin-left: 15px;
            }
        }
        &-btn{
            display: flex;
            align-items: center;
            height: 55px;
            width: 134px;
            justify-content: center;
            border-radius: 100px;
            background: #FFD600;
            border: none;
            color: #000;
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            cursor: pointer;
            p{
                margin-left: 9px;
            }
        }
    }
    &__often{
        margin-top: 126.51px;
        display: flex;
        align-items: center;
        &-inner{
            display: flex;
            justify-content: center;
        }
        &-text{
            color: #252525;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 25px; /* 178.571% */
            margin-right: 18.34px;
        }
        &-item{
            + .main__often-item{
                margin-left: 15px;
            }
            color: #FFF;
            text-align: center;
            padding: 6.5px 14.5px 9.5px;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            border-radius: 30px;
            cursor: pointer;
            background: rgba(#252525, .15);
        }
    }
}

.popular{
    margin-top: 93px;
    margin-bottom: 100px;
    &__title{
        color: #252525;
        font-size: 36px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin-bottom: 17px;
    }
    &__subtitle{
        color: #252525;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 59px;
    }
    &__inner{
        display: flex;
        flex-wrap: wrap;
        gap: 46px;
    }
    &__item{
        padding-left: 44px;
        padding-bottom: 36px;
        width: 31.2%;
        border-radius: 20px;
        height: 490px;
        display: flex;
        align-items: flex-end;
        &:nth-child(1){
            background-image: url('../images/popular/1.jpg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 100%;
        }
        &:nth-child(2){
            background-image: url('../images/popular/2.jpg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 100%;
        }
        &:nth-child(3){
            background-image: url('../images/popular/3.jpg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 100%;
        }
        &:nth-child(4){
            background-image: url('../images/popular/4.jpg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 100%;
        }
        &:nth-child(5){
            background-image: url('../images/popular/5.jpg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 100%;
        }
        &:nth-child(6){
            background-image: url('../images/popular/6.jpg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 100%;
        }
        &-city{
            color: #FFF;
            margin-bottom: 18.49px;
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        
    }
    &__quantity{
        padding: 7px 16.51px 6.87px 15.38px;
        color: #252525;
        text-align: center;
        border-radius: 100px;
        background: #FFD600;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: max-content;
    }
}
.excursions{
    &__block{
        display: flex;
        align-items: center;
        margin-bottom: 77px;
    }
    &__title{
        color: #252525;
        margin-right: 54px;
        font-size: 36px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
    &__city{
        display: flex;
        align-items: center;
        border-radius: 10px;
        border: 1px solid #E6E6E6;
        background: #FFF;
        padding: 14px 22.75px 15px 23px;
        margin-right: 29px;
    }
    &__date{
        display: flex;
        align-items: center;
        border-radius: 10px;
        border: 1px solid #E6E6E6;
        background: #FFF;
        padding: 14px 22.75px 15px 20px;
        margin-right: 29px;
    }
    &__text{
        color: #B7B7B7;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px; 
        margin-right: 50px;
    }
    &__inner{
        display: flex;
        flex-wrap: wrap;
        gap: 35.1px;
        margin-bottom: 73px;
    }
    &__item{
        position: relative;
        width: 23.1%;
        border-radius: 20px;
        border-radius: 20px;
        border: 1px solid #DFDFDF;
        img{
            border-top-right-radius: 20px;
            width: 100%;
        }
        &-like{
            position: absolute;
            border-radius: 100px;
            background: rgba(#FFF, .1);
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            top: 16px;
            right: 16px;
        }
        &-content{
            padding: 21px 26px 19px 25px;
        }
        &-title{
            color: #252525;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 23px; /* 164.286% */
            margin-bottom: 10px;
        }
        &-info{
            color: #6A6A6A;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px; /* 166.667% */
            padding-bottom: 16px;
            border-bottom: 1px solid #E6E6E6;
            margin-bottom: 14px;
        }
        &-bottom{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
        &-price{
            color: #252525;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 26px; /* 130% */
            margin-bottom: 8px;
        }
        &-drob{
            font-size: 13px;
        }
        &-span{
            font-size: 12px;
        }
        &-time{
            display: flex;
            align-items: center;
            color: #252525;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding: 7px 11px 8px 13.22px;
            border-radius: 1000px;
            border: 1px solid #E9E9E9;
            svg{
                margin-left: 5px;
            }
        }
        &-add{
            width: 46px;
            height: 46px;
            background-color: #E9E9E9;
            border-radius: 50%;
            border: none;
            margin-bottom: 4px;
        }
    }
    &__btn{
        display: flex;
        justify-content: center;
        button{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 194px;
            height: 55px;
            color: #000;
            text-align: center;
            border-radius: 100px;
            background: #FFD600;
            border: none;
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
           
        }
    }
}
.container--background{
    background: linear-gradient(180deg, #FFF 0%, rgba(217, 217, 217, .7) 100%);
    background-position: center bottom;
    background-repeat: no-repeat;
}
.reviews{
    margin-top: 104.41px;
    padding-bottom: 113px;
    &__item{
        border-radius: 20px;
        background: #FFF;
       
        padding: 69.25px 92.16px 180.25px 98.5px;
        &-inner{
            display: flex;
            justify-content: space-between;
        }
        &-title{
            color: #252525;
            margin-bottom: 21px;
            font-size: 36px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
        }
        &-subtitle{
            color: #252525;
            max-width: 318px;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px; /* 162.5% */
            margin-bottom: 68.34px;
        }
        &-btn{
            color: #000;
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 175.5px;
            height: 55px;
            border-radius: 100px;
            border: none;
            background: #FFD600;
        }
        &-right{
            display: flex;
        }
        &-content{
            margin-left: 41px;
        }
        &-name{
            color: #252525;
            margin-bottom: 24px;
            font-size: 17px;
            font-style: normal;
            font-weight: 500;
            line-height: 26px; /* 152.941% */
        }
        &-wrapper{
            display: flex;
            align-items: center;
            padding: 8px 0 11px;
            border-top: 1px solid #EBEBEB;
            border-bottom: 1px solid #EBEBEB;
            margin-bottom: 16px;
        }
        &-text{
            color: #7B7B7B;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            margin-right: 2px;
            line-height: 26px; /* 185.714% */
        }
        &-city{
            color: #7B7B7B;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px; /* 185.714% */
            text-decoration-line: underline;
            margin-right: 49px;
        }
        &-grade{
            color: #7B7B7B;
            margin-right: 13px;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px; /* 185.714% */ 
        }
        &-info{
            color: #252525;
            max-width: 565px;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px; /* 162.5% */
        }
    }
    &__slider{
        position: relative;
        .slick-prev{
            position: absolute;
            right:152.16px;
            bottom: 80px;
            width: 46px;
            height: 46px;
            z-index: 9;
            color:transparent;
            cursor: pointer;
            background-color: transparent;
            background-image: url('../images/arrow-left.png');
            border:none;
        }
        .slick-next{
            position: absolute;
            right:92.16px;
            bottom: 80px;
            width: 46px;
            height: 46px;
            color:transparent;
            cursor: pointer;
            background-color: transparent;
            background-image: url('../images/arrow-right.png');
            border:none;

        }
        .slick-dots{
            display: flex;
            justify-content: center;
            position: absolute;
            bottom: 90px;
            right: 230px;
            li{
                + li{
                    margin-left: 13px;
                }
                button{
                    color:transparent;
                    width: 12px;
                    border-radius: 12px;
                    border: none;
                    background: #E2E2E2;
                    height: 12px;
                }
                &.slick-active{
                    button{
                        background-color: #FFD600;
                    }
                }
            }
        }
    }
}
.blog{
    background: rgba(217, 217, 217, 0.7);
    /*.slick-slide + .slick-slide{
     margin-left: 40px;
    
    }*/

    &__slider{
        position: relative;
        .slick-prev{
            position: absolute;
            left: 149px;
            top: -105px;
            width: 44px;
            height: 44px;
            z-index: 9;
            color:transparent;
            cursor: pointer;
            background-color: transparent;
            background-image: url('../images/arrow-left.png');
            border:none;
            background-size: cover;
        }
        .slick-next{
            position: absolute;
            left:207.16px;
            top: -105px;
            width: 44px;
            height: 44px;
            color:transparent;
            cursor: pointer;
            background-color: transparent;
            background-image: url('../images/arrow-right.png');
            background-size: cover;
            border:none;
    
        }
    }
    .slick-slide {
        margin: 0 24px;
    }
    padding-bottom: 106px;
    /* the parent */
    .slick-list {
        margin: 0 -24px;
    }
    
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 59px;
    }
    &__title{
        color: #252525;
        font-size: 36px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
    &__link{
        color: #454545;
        text-align: center;
        padding: 12px 21.5px 12px 23.5px;
        border-radius: 1000px;
    background: #FFF;   
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 162.5% */
        
    }
    &__item{
        width: 335px;
        
        img{
            width: 100%;
        }
        &-date{
            margin-top: 25px;
            display: flex;
            align-items: center;
            margin-bottom: 16.48px;
            p{
                color: #828282;
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-left: 10px;
            }
        }
        &-title{
            color: #252525;
            margin-bottom: 18.23px;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 25px; /* 156.25% */
            &-br{
                font-size: 15.5px;
            }
        }
        &-read{
            display: flex;
            align-items: center;
            height: 32.4px;
            border-radius: 1000px;
            border: 1px solid grey; 
            
            width: 95px;
            justify-content: center;
            p{
                color: #252525;
                text-align: center;
                margin-right: 5px;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px; /* 142.857% */
            }
        }
    }
    
}
.subscription{
    padding-top: 106px;
    padding-bottom: 190px;
    &__inner{
        background-image: url('../images/tourist.png');
        border-radius: 30px;
        height: 527.4px;
        padding: 91.72px 0 55.47px 107.45px;
    }
    &__title{
        color: #252525;
        margin-bottom: 26px;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px; /* 133.333% */
    }
    &__subtitle{
        color: #252525;
        margin-bottom: 40px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 162.5% */
    }
    &__wrapper{
        display: flex;
        margin-bottom: 112.45px;
    }
    &__link{
        display: flex;
        align-items: center;
        border-radius: 9px;
        background: #FFF;
        padding: 19.94px 19.05px 19.94px 27.55px;
        p{
            color: #1C1C1B;
            margin-left: 10px;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px; /* 133.333% */
            
            
        }
        + .subscription__link{
            margin-left: 21.05px;
        }
    }
    &__info{
        color: #7A7A7A;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px; /* 158.333% */
        max-width: 550px;
        span{
            text-decoration-line: underline;
        }
    }
}
.footer{
    background: #FBFBFB;
    padding-top: 80px;
    &__inner{
        display: flex;
        justify-content: space-between;
        padding-bottom: 82.5px;
        border-bottom: 1px solid #E2E2E2;
    }
    &__item{
        margin-right: 92px;
        &-download{
            color: #252525;
            margin-top: 45px;
            margin-bottom: 18px;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px; /* 166.667% */
        }
        &-wrapper{
            display: flex;
            a + a{
                margin-left: 8px;
            }
        }
    }
    &__list{
        
        &-title{
            color: #252525;
            margin-bottom: 19px;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 30px; /* 187.5% */

        }
        li{
            
            a{
                color: #252525;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 35px; /* 250% */
            }
        }
        + .footer__list{
            margin-left: 80px;
        }
        &-contact{
            display: flex;
            align-items: center;
            p{
                color: #252525;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                margin-left: 10px;
                span{
                    font-weight: 400;
                }
            }
            + .footer__list-contact{
                margin-top: 16px;
            }
        }
    }
    &__links{
        display: flex;
        margin-top: 38px;
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 5px;
            border: 1px solid #DFDFDF;
            background: #FBFBFB;
            + a{
                margin-left: 16.63px;
            }
        }
    }
    &__bottom{
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        align-items: center;
        &-inner{
            display: flex;
            align-items: center;
        }
        &-wrapper{
            display: flex;
            align-items: center;
            margin-left: 75px;
            p{
                margin-right: 12px;
                color: #252525;
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: 35px; /* 269.231% */
            }
        }
        &-year{
            color: #252525;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 35px; /* 269.231% */
        }
    }
}
.footer__list li .link{
    line-height: 19px; 
}
.contact-svg{
    margin-top: -20px;
}

@media(max-width: 1500px){
	.container{
		max-width: 1300px;
	}
	.blog{
		.slick-slide {
        margin: 0 5px;
	    }
	    padding-bottom: 106px;
	    /* the parent */
	    .slick-list {
	        margin: 0 5px;
    	}
	}
	.popular__inner{
		gap:20px;
	}
	.popular__item{
		width: 32.2%;
		background-position: bottom !important;
    	background-size: 111% !important;
	}
	.excursions__inner{
		gap: 25.1px;
	}
}