html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}

button {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.header {
  padding: 31px 0 33px;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__list li a {
  color: #252525;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
}
.header__list li .header__list-help {
  border: none;
  padding-right: 16px;
  position: relative;
  background-color: transparent;
}
.header__list li .header__list-help::after {
  content: "";
  position: absolute;
  right: 0;
  height: 7px;
  width: 7px;
  background-image: url("../images/down.png");
  background-size: cover;
  top: 6px;
}
.header__list li + li {
  margin-left: 55px;
}
.header__directions {
  margin: 0 45px 0 50px;
  color: #252525;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  border-radius: 100px;
  background: #FFD600;
  border: none;
  padding: 12px 49px 13.56px 27px;
  cursor: pointer;
  position: relative;
}
.header__directions::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-image: url("../images/down.png");
  right: 20px;
  top: 21px;
}
.header__window {
  display: none;
  position: absolute;
  left: 644px;
  top: 56px;
  z-index: 5;
  border-radius: 15px;
  background: #FFF;
  -webkit-box-shadow: 0px 7px 100px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 7px 100px 0px rgba(0, 0, 0, 0.15);
  padding: 17px 23px;
}
.header__window-title {
  color: #000;
  font-size: 15px;
  font-style: normal;
  margin-bottom: 15px;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
}
.header__window-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}
.header__window-inner a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 162px;
  height: 50px;
}
.header__window-inner a p {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 178.571% */
  margin-left: 11px;
}
.header__window-whatsApp {
  border-radius: 100px;
  background: #4CAF50;
  margin-right: 14px;
}
.header__window-telegram {
  border-radius: 100px;
  background: #039BE5;
}
.header__window-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__window-wrapper a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__window-wrapper a p {
  color: #000;
  margin-left: 9px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 178.571% */
}
.header__window-wrapper a + a {
  margin-left: 31px;
}
.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background: #F5F5F5;
  border: none;
  cursor: pointer;
}
.header__hearth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background: #F5F5F5;
  border: none;
  cursor: pointer;
  margin: 0 20px;
}
.header__come {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #252525;
  width: 114px;
  height: 50px;
  border: none;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 166.667% */
  border-radius: 100px;
  background: #F5F5F5;
}

.header__window.visible {
  display: block;
}

.main {
  min-height: 640px;
  background-image: url("../images/man.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 124px;
  border-radius: 20px;
}
.main__title {
  color: #252525;
  text-align: center;
  max-width: 549px;
  font-size: 42px;
  margin: 0 auto;
  font-style: normal;
  font-weight: 900;
  padding-bottom: 41px;
  position: relative;
  line-height: 52px;
  margin-bottom: 8px;
}
.main__title::after {
  content: "";
  position: absolute;
  width: 228px;
  height: 41px;
  background-image: url("../images/swoosh.png");
  bottom: 0;
  left: 29.6%;
}
.main__subtitle {
  color: #252525;
  text-align: center;
  margin-bottom: 48px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 11px;
  border-radius: 100px;
  background: #FFF;
  -webkit-box-shadow: 0px 42px 80px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 42px 80px 0px rgba(0, 0, 0, 0.25);
  padding-left: 21px;
}
.main__search-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main__search-directions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #7B7B7B;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.main__search-directions p {
  margin-left: 15px;
}
.main__search-border {
  height: 37px;
  width: 1px;
  background: #EBEBEB;
  margin-left: 27px;
  margin-right: 28px;
}
.main__search-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #7B7B7B;
  margin-right: 220px;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.main__search-date p {
  margin-left: 15px;
}
.main__search-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55px;
  width: 134px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100px;
  background: #FFD600;
  border: none;
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}
.main__search-btn p {
  margin-left: 9px;
}
.main__often {
  margin-top: 126.51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__often-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main__often-text {
  color: #252525;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 178.571% */
  margin-right: 18.34px;
}
.main__often-item {
  color: #FFF;
  text-align: center;
  padding: 6.5px 14.5px 9.5px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 30px;
  cursor: pointer;
  background: rgba(37, 37, 37, 0.15);
}
.main__often-item + .main__often-item {
  margin-left: 15px;
}

.popular {
  margin-top: 93px;
  margin-bottom: 100px;
}
.popular__title {
  color: #252525;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 17px;
}
.popular__subtitle {
  color: #252525;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 59px;
}
.popular__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 46px;
}
.popular__item {
  padding-left: 44px;
  padding-bottom: 36px;
  width: 31.2%;
  border-radius: 20px;
  height: 490px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.popular__item:nth-child(1) {
  background-image: url("../images/popular/1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.popular__item:nth-child(2) {
  background-image: url("../images/popular/2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.popular__item:nth-child(3) {
  background-image: url("../images/popular/3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.popular__item:nth-child(4) {
  background-image: url("../images/popular/4.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.popular__item:nth-child(5) {
  background-image: url("../images/popular/5.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.popular__item:nth-child(6) {
  background-image: url("../images/popular/6.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.popular__item-city {
  color: #FFF;
  margin-bottom: 18.49px;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.popular__quantity {
  padding: 7px 16.51px 6.87px 15.38px;
  color: #252525;
  text-align: center;
  border-radius: 100px;
  background: #FFD600;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.excursions__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 77px;
}
.excursions__title {
  color: #252525;
  margin-right: 54px;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.excursions__city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  border: 1px solid #E6E6E6;
  background: #FFF;
  padding: 14px 22.75px 15px 23px;
  margin-right: 29px;
}
.excursions__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  border: 1px solid #E6E6E6;
  background: #FFF;
  padding: 14px 22.75px 15px 20px;
  margin-right: 29px;
}
.excursions__text {
  color: #B7B7B7;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  margin-right: 50px;
}
.excursions__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 35.1px;
  margin-bottom: 73px;
}
.excursions__item {
  position: relative;
  width: 23.1%;
  border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #DFDFDF;
}
.excursions__item img {
  border-top-right-radius: 20px;
  width: 100%;
}
.excursions__item-like {
  position: absolute;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.1);
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  top: 16px;
  right: 16px;
}
.excursions__item-content {
  padding: 21px 26px 19px 25px;
}
.excursions__item-title {
  color: #252525;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px; /* 164.286% */
  margin-bottom: 10px;
}
.excursions__item-info {
  color: #6A6A6A;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  padding-bottom: 16px;
  border-bottom: 1px solid #E6E6E6;
  margin-bottom: 14px;
}
.excursions__item-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.excursions__item-price {
  color: #252525;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 130% */
  margin-bottom: 8px;
}
.excursions__item-drob {
  font-size: 13px;
}
.excursions__item-span {
  font-size: 12px;
}
.excursions__item-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #252525;
  background-color: transparent;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 7px 11px 8px 13.22px;
  border-radius: 1000px;
  border: 1px solid #E9E9E9;
}
.excursions__item-time svg {
  margin-left: 5px;
}
.excursions__item-add {
  width: 46px;
  height: 46px;
  background-color: #E9E9E9;
  border-radius: 50%;
  border: none;
  margin-bottom: 4px;
}
.excursions__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.excursions__btn button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 194px;
  height: 55px;
  color: #000;
  text-align: center;
  border-radius: 100px;
  background: #FFD600;
  border: none;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.container--background {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(rgba(217, 217, 217, 0.7)));
  background: -o-linear-gradient(top, #FFF 0%, rgba(217, 217, 217, 0.7) 100%);
  background: linear-gradient(180deg, #FFF 0%, rgba(217, 217, 217, 0.7) 100%);
  background-position: center bottom;
  background-repeat: no-repeat;
}

.reviews {
  margin-top: 104.41px;
  padding-bottom: 113px;
}
.reviews__item {
  border-radius: 20px;
  background: #FFF;
  padding: 69.25px 92.16px 180.25px 98.5px;
}
.reviews__item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.reviews__item-title {
  color: #252525;
  margin-bottom: 21px;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.reviews__item-subtitle {
  color: #252525;
  max-width: 318px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-bottom: 68.34px;
}
.reviews__item-btn {
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 175.5px;
  height: 55px;
  border-radius: 100px;
  border: none;
  background: #FFD600;
}
.reviews__item-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.reviews__item-content {
  margin-left: 41px;
}
.reviews__item-name {
  color: #252525;
  margin-bottom: 24px;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 152.941% */
}
.reviews__item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0 11px;
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
  margin-bottom: 16px;
}
.reviews__item-text {
  color: #7B7B7B;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-right: 2px;
  line-height: 26px; /* 185.714% */
}
.reviews__item-city {
  color: #7B7B7B;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
  text-decoration-line: underline;
  margin-right: 49px;
}
.reviews__item-grade {
  color: #7B7B7B;
  margin-right: 13px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}
.reviews__item-info {
  color: #252525;
  max-width: 565px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.reviews__slider {
  position: relative;
}
.reviews__slider .slick-prev {
  position: absolute;
  right: 152.16px;
  bottom: 80px;
  width: 46px;
  height: 46px;
  z-index: 9;
  color: transparent;
  cursor: pointer;
  background-color: transparent;
  background-image: url("../images/arrow-left.png");
  border: none;
}
.reviews__slider .slick-next {
  position: absolute;
  right: 92.16px;
  bottom: 80px;
  width: 46px;
  height: 46px;
  color: transparent;
  cursor: pointer;
  background-color: transparent;
  background-image: url("../images/arrow-right.png");
  border: none;
}
.reviews__slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 90px;
  right: 230px;
}
.reviews__slider .slick-dots li + li {
  margin-left: 13px;
}
.reviews__slider .slick-dots li button {
  color: transparent;
  width: 12px;
  border-radius: 12px;
  border: none;
  background: #E2E2E2;
  height: 12px;
}
.reviews__slider .slick-dots li.slick-active button {
  background-color: #FFD600;
}

.blog {
  background: rgba(217, 217, 217, 0.7);
  /*.slick-slide + .slick-slide{
   margin-left: 40px;

  }*/
  padding-bottom: 106px;
  /* the parent */
}
.blog__slider {
  position: relative;
}
.blog__slider .slick-prev {
  position: absolute;
  left: 149px;
  top: -105px;
  width: 44px;
  height: 44px;
  z-index: 9;
  color: transparent;
  cursor: pointer;
  background-color: transparent;
  background-image: url("../images/arrow-left.png");
  border: none;
  background-size: cover;
}
.blog__slider .slick-next {
  position: absolute;
  left: 207.16px;
  top: -105px;
  width: 44px;
  height: 44px;
  color: transparent;
  cursor: pointer;
  background-color: transparent;
  background-image: url("../images/arrow-right.png");
  background-size: cover;
  border: none;
}
.blog .slick-slide {
  margin: 0 24px;
}
.blog .slick-list {
  margin: 0 -24px;
}
.blog__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 59px;
}
.blog__title {
  color: #252525;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.blog__link {
  color: #454545;
  text-align: center;
  padding: 12px 21.5px 12px 23.5px;
  border-radius: 1000px;
  background: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.blog__item {
  width: 335px;
}
.blog__item img {
  width: 100%;
}
.blog__item-date {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16.48px;
}
.blog__item-date p {
  color: #828282;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 10px;
}
.blog__item-title {
  color: #252525;
  margin-bottom: 18.23px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 156.25% */
}
.blog__item-title-br {
  font-size: 15.5px;
}
.blog__item-read {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32.4px;
  border-radius: 1000px;
  border: 1px solid grey;
  width: 95px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.blog__item-read p {
  color: #252525;
  text-align: center;
  margin-right: 5px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.subscription {
  padding-top: 106px;
  padding-bottom: 190px;
}
.subscription__inner {
  background-image: url("../images/tourist.png");
  border-radius: 30px;
  height: 527.4px;
  padding: 91.72px 0 55.47px 107.45px;
}
.subscription__title {
  color: #252525;
  margin-bottom: 26px;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 133.333% */
}
.subscription__subtitle {
  color: #252525;
  margin-bottom: 40px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.subscription__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 112.45px;
}
.subscription__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 9px;
  background: #FFF;
  padding: 19.94px 19.05px 19.94px 27.55px;
}
.subscription__link p {
  color: #1C1C1B;
  margin-left: 10px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
}
.subscription__link + .subscription__link {
  margin-left: 21.05px;
}
.subscription__info {
  color: #7A7A7A;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px; /* 158.333% */
  max-width: 550px;
}
.subscription__info span {
  text-decoration-line: underline;
}

.footer {
  background: #FBFBFB;
  padding-top: 80px;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 82.5px;
  border-bottom: 1px solid #E2E2E2;
}
.footer__item {
  margin-right: 92px;
}
.footer__item-download {
  color: #252525;
  margin-top: 45px;
  margin-bottom: 18px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
}
.footer__item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__item-wrapper a + a {
  margin-left: 8px;
}
.footer__list-title {
  color: #252525;
  margin-bottom: 19px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 187.5% */
}
.footer__list li a {
  color: #252525;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 250% */
}
.footer__list + .footer__list {
  margin-left: 80px;
}
.footer__list-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__list-contact p {
  color: #252525;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 10px;
}
.footer__list-contact p span {
  font-weight: 400;
}
.footer__list-contact + .footer__list-contact {
  margin-top: 16px;
}
.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 38px;
}
.footer__links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #DFDFDF;
  background: #FBFBFB;
}
.footer__links a + a {
  margin-left: 16.63px;
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__bottom-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__bottom-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 75px;
}
.footer__bottom-wrapper p {
  margin-right: 12px;
  color: #252525;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 269.231% */
}
.footer__bottom-year {
  color: #252525;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 269.231% */
}

.footer__list li .link {
  line-height: 19px;
}

.contact-svg {
  margin-top: -20px;
}

.main__often-inner--mobile {
  display: none;
}

.popular__mobile {
  display: none;
}

.burger__menu {
  display: none;
}

.mobile__wrapper {
  display: none;
}

.excursions__item-time--mobile {
  display: none;
}

.mobile__add {
  display: none;
}

.excursions__item-visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile__footer {
  display: none;
}

.reviews__item-btn--mobile {
  display: none;
}

@media (max-width: 1500px) {
  .container {
    max-width: 1300px;
  }
  .blog {
    padding-bottom: 106px;
    /* the parent */
  }
  .blog .slick-slide {
    margin: 0 5px;
  }
  .blog .slick-list {
    margin: 0 5px;
  }
  .popular__inner {
    gap: 20px;
  }
  .popular__item {
    width: 32.2%;
    background-position: bottom !important;
    background-size: 111% !important;
  }
  .excursions__inner {
    gap: 25.1px;
  }
}
@media (max-width: 1270px) {
  .popular__inner {
    gap: 22px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .popular__item {
    background-size: 133% !important;
  }
}
@media (max-width: 1151px) {
  .footer__list {
    display: none;
  }
  .footer {
    background-color: white;
    padding-top: 0;
  }
  .footer__list--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 17px;
    margin-top: 26px;
    width: 100%;
    border-top: 1px solid #E2E2E2;
  }
  .footer__item {
    margin-right: 0;
  }
  .contact-svg {
    margin-top: 0;
  }
  .footer__item-download {
    display: none;
  }
  .footer__item-wrapper {
    display: none;
  }
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__list + .footer__list {
    margin-left: 0px;
  }
  .mobile__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 21px;
    width: 100%;
    margin-top: 33px;
    border-top: 1px solid #E2E2E2;
  }
  .mobile__footer p {
    color: #252525;
    text-align: center;
    margin-bottom: 13.5px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 187.5% */
  }
  .footer__item-wrapper--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__inner {
    padding-bottom: 33.5px;
  }
  .footer__bottom-block {
    display: none;
  }
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__bottom-wrapper {
    margin-left: 0;
  }
}
@media (max-width: 1078px) {
  .popular__item {
    background-size: 160% !important;
    width: calc(158px + 179 * (100vw - 375px) / 703);
    height: calc(203px + 287 * (100vw - 375px) / 703);
    padding-left: 16px;
    padding-bottom: 17px;
  }
  .excursions__inner {
    gap: 27.1px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .excursions__item {
    width: 31.1%;
  }
}
@media (max-width: 1034px) {
  .reviews__item-subtitle {
    display: none;
  }
  .reviews__item-btn {
    display: none;
  }
  .reviews__item-text {
    display: none;
  }
  .reviews__item-city {
    display: none;
  }
  .reviews__item-btn--mobile {
    display: block;
    margin-top: 65px;
  }
  .header__directions {
    display: none;
  }
  .reviews__item-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reviews__item-grade {
    display: none;
  }
  .reviews__item-content {
    position: relative;
  }
  .reviews__item-wrapper {
    position: absolute;
    top: 12px;
    right: 0;
    border: none;
  }
  .reviews__item-name {
    padding-bottom: 13px;
    border-bottom: 1px solid #EBEBEB;
    margin-top: 13px;
  }
  .reviews__slider .slick-dots {
    left: 0;
    right: 0;
    bottom: 190px;
  }
  .reviews__item {
    padding-bottom: 110px;
  }
  .reviews__item-info {
    text-align: center;
  }
  .reviews__slider .slick-arrow {
    display: none !important;
  }
  .reviews__item-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reviews__item-content {
    margin-left: 0;
  }
  .header__list {
    display: none;
  }
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 20px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-right: 15px;
  }
  .burger div {
    width: 20px;
    height: 2px;
    background-color: #252525;
  }
  .burger__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
    padding-top: 37px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 0 30px 30px;
    padding-bottom: 47px;
    -webkit-box-shadow: 0px 7px 100px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 7px 100px 0px rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(-150%);
        -ms-transform: translateY(-150%);
            transform: translateY(-150%);
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
  }
  .burger__menu-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .burger__menu-close {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background: #F5F5F5;
    font-size: 35px;
    color: #959595;
  }
  .burger__menu-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 45px;
  }
  .burger__menu-search {
    width: 100%;
    margin-top: 20px;
    color: #252525;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
    padding-top: 12px;
    padding-bottom: 13px;
    padding-left: 27px;
    padding-right: 16px;
    border-radius: 100px;
    background: #F5F5F5;
    border: none;
    position: relative;
  }
  .burger__menu-search--wrapper {
    position: relative;
    width: 100%;
  }
  .burger__menu-search--wrapper::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-image: url("../images/mobile/search.png");
    top: 35px;
    right: 25px;
  }
  .burger__menu-search::-webkit-input-placeholder {
    color: #252525;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
  }
  .burger__menu-search::-moz-placeholder {
    color: #252525;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
  }
  .burger__menu-search:-ms-input-placeholder {
    color: #252525;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
  }
  .burger__menu-search::-ms-input-placeholder {
    color: #252525;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
  }
  .burger__menu-search::placeholder {
    color: #252525;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
  }
  .burger__menu.visible {
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
  }
  .header__directions--mobile {
    display: block;
    margin: 0;
  }
  .header__list--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 163px;
  }
  .header__list--mobile li {
    width: 100%;
  }
  .header__list--mobile li a {
    width: 100%;
    display: inline-block;
    font-size: 18px;
  }
  .header__list li + li {
    margin-left: 0;
  }
  .header__list--border {
    border-top: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
    padding-top: 11px;
    padding-bottom: 13px;
    margin-top: 16px;
    margin-bottom: 12px;
  }
  .header__window--mobile {
    display: block;
    position: static;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0;
  }
  .header__window--mobile .header__window-inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__window--mobile .header__window-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 953px) {
  .excursions__item {
    width: 38.1%;
  }
}
@media (max-width: 914px) {
  .subscription__inner {
    background-position-x: center;
  }
}
@media (max-width: 849px) {
  .reviews {
    margin-top: 73.5px;
    padding-bottom: 40px;
  }
  .subscription__inner {
    padding-top: 39px;
    padding-left: 31px;
    padding-right: 61px;
  }
  .blog__slider .slick-prev {
    left: 110px;
  }
  .subscription__link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    width: 45px;
    height: 45px;
  }
  .subscription__link p {
    display: none;
  }
  .blog__slider .slick-next {
    left: 165.16px;
  }
  .blog__item-title {
    font-size: 14px;
    line-height: 22px;
  }
  .blog__link {
    font-size: 12px;
    width: 78px;
    height: 39px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blog__slider .slick-next,
  .blog__slider .slick-prev {
    width: 36px;
    height: 36px;
  }
  .blog__slider .slick-prev {
    left: 105px;
    top: -82px;
  }
  .blog__slider .slick-next {
    top: -82px;
    left: 152.16px;
  }
  .blog {
    padding-bottom: 61px;
  }
  .blog__wrapper {
    margin-bottom: 41px;
  }
  .main {
    padding-top: 45px;
    max-height: 640px;
  }
  .main__title {
    font-size: 22px;
    margin-bottom: -5px;
  }
  .main__title::after {
    width: 139px;
    background-size: contain;
    background-repeat: no-repeat;
    left: 40.6%;
  }
  .main__search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 20px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 15px 22px;
  }
  .main__search-border {
    height: 1px;
    width: 100%;
    background: #EBEBEB;
    margin-left: 0;
    margin: 10px 0;
    margin-right: 0;
  }
  .main__search-btn {
    width: 100%;
    margin-top: 12px;
  }
  .main {
    background-size: cover;
  }
  .main__often-inner {
    display: none;
  }
  .main__often-inner--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main__often-inner--mobile .main__often {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 12px;
    margin-top: 77px;
  }
  .main__often-inner--mobile .main__often .main__often-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main__often-item + .main__often-item {
    margin-left: 15px;
  }
  .popular__item-city {
    font-size: 13px;
    margin-bottom: 15px;
  }
  .popular__quantity {
    font-size: 10px;
  }
  .popular__title {
    font-size: 26px;
    margin-bottom: 9px;
  }
  .popular {
    margin-top: 62px;
  }
  .popular__subtitle {
    font-size: 14px;
    margin-bottom: 39px;
  }
  .container--background {
    margin-top: -46px;
  }
  .excursions__city {
    display: none;
  }
  .excursions__date {
    display: none;
  }
  .excursions__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .mobile__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile__wrapper-title {
    color: #252525;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 185.714% */
    margin-bottom: 5px;
  }
  .mobile__city {
    margin-right: 18px;
  }
  .mobile__city button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 132px;
    height: 45px;
    border-radius: 1000px;
    border: none;
    background: #F5F5F5;
  }
  .mobile__city button p {
    margin-right: 11px;
    color: #454545;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 185.714% */
  }
  .excursions__block {
    margin-bottom: 40px;
  }
  .mobile__date-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile__date-inner p {
    color: #454545;
    margin: 0 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
  }
  .mobile__date-day {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #454545;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    width: 70px;
    height: 45px;
    line-height: 26px; /* 185.714% */
    border-radius: 1000px;
    background: #F5F5F5;
  }
  .excursions__title {
    font-size: 26px;
    margin-bottom: 28px;
  }
  .excursions__item-title {
    border-bottom: 1px solid #E6E6E6;
    padding-bottom: 9px;
    font-size: 11px;
    line-height: 15px;
  }
  .excursions__item-price {
    font-size: 12px;
  }
  .excursions__item-price .excursions__item-span {
    font-weight: 400;
  }
  .excursions__item-add {
    display: none;
  }
  .excursions__item-info {
    display: none;
  }
  .excursions__item-content {
    padding: 9px 12px 16px 12px;
  }
  .excursions__item-time {
    display: none;
  }
  .excursions__item-time--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    border: 1px solid #E9E9E9;
    background-color: transparent;
  }
  .excursions__item-element {
    width: 100%;
  }
  .mobile__add {
    display: block;
    color: #252525;
    text-align: center;
    width: 100%;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 8px;
    padding-bottom: 8.4px;
    border-radius: 1000px;
    background: #FFD600;
    border: none;
    margin-top: 8px;
  }
}
@media (max-width: 631px) {
  .excursions__inner {
    gap: 20px;
  }
  .excursions__item {
    width: calc(162px + 127 * (100vw - 375px) / 256);
  }
  .excursions__item img {
    border-top-left-radius: 20px;
  }
}
@media (max-width: 514px) {
  .container--background {
    margin-top: 64px;
  }
  .subscription__title {
    font-size: 20px;
    line-height: 30px;
    max-width: 242px;
    margin-bottom: 5px;
  }
  .subscription__subtitle {
    font-size: 14px;
    margin-bottom: 16.5px;
    max-width: 242px;
  }
  .subscription__wrapper {
    margin-bottom: 67px;
  }
  .subscription {
    padding-top: 61px;
    padding-bottom: 54px;
  }
  .subscription__info {
    font-size: 10px;
    line-height: 17px;
    max-width: 199px;
  }
  .reviews__item {
    padding-top: 34px;
    padding-right: 19px;
    padding-left: 19px;
  }
  .reviews__item-info {
    font-size: 12px;
    line-height: 22px;
  }
  .reviews__item-btn--mobile {
    font-size: 13px;
    width: 156px;
    height: 49px;
  }
  .excursions__item-like {
    width: 23.5px;
    height: 23.5px;
    top: 7.5px;
    right: 7.5px;
  }
  .main__title::after {
    left: 33.6%;
  }
  .main__search {
    max-width: 286px;
  }
  .main__search-directions {
    font-size: 14px;
  }
  .main__search-date {
    font-size: 14px;
  }
  .subscription__inner {
    background-position-x: 55%;
  }
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .main__often {
    padding-bottom: 60px;
  }
  .wrapper {
    padding-bottom: 1px;
    background-color: white;
    border-radius: 0px 0px 50px 50px;
    position: relative;
    z-index: 2;
  }
  .popular__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: url("../images/mobile/bg.jpg");
    margin-top: -44px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    padding-top: 110px;
    padding-bottom: 269px;
  }
  .popular__mobile-title {
    color: #252525;
    text-align: center;
    font-size: 23px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    max-width: 265px;
    margin: 0 auto;
    margin-bottom: 12px;
  }
  .popular__mobile-subtitle {
    color: #252525;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 185.714% */
    margin-bottom: 31px;
  }
  .popular__mobile-btn {
    color: #000;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 170px;
    margin: 0 auto;
    height: 55px;
    border: none;
    border-radius: 100px;
    background: #FFD600;
  }
  .excursions__inner {
    margin-bottom: 44px;
  }
  .excursions__btn button {
    font-size: 13px;
    width: 156px;
    height: 49px;
  }
}
@media (max-width: 450px) {
  .header__come {
    font-size: 12px;
    width: 85px;
  }
  .logo img {
    width: 77%;
  }
  .header__hearth {
    margin: 0 10px;
  }
  .excursions__item-time--mobile {
    border: 2px solid #E9E9E9;
    font-size: 10px;
  }
}
@media (max-width: 441px) {
  .main__title {
    line-height: 27px;
  }
}
@media (max-width: 429px) {
  .excursions__item-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 393px) {
  .footer__list-contact p {
    font-size: 12px;
  }
}
@media (max-width: 380px) {
  .popular__inner {
    gap: 19px;
  }
}
@media (max-width: 375px) {
  .popular__item {
    background-size: 160% !important;
    width: calc(134px + 24 * (100vw - 320px) / 55);
    height: calc(180px + 23 * (100vw - 320px) / 55);
    padding-left: 16px;
    padding-bottom: 17px;
  }
  .excursions__item {
    width: calc(135px + 27 * (100vw - 320px) / 55);
  }
}
@media (max-width: 372px) {
  .header__window-wrapper a p {
    font-size: 11px;
  }
  .excursions__item-title {
    font-size: 9px;
    line-height: 11px;
  }
}
@media (max-width: 360px) {
  .logo img {
    width: 96%;
  }
  .main__title::after {
    left: 27.6%;
  }
  .main__search {
    max-width: 256px;
    padding: 15px 10px;
  }
  .main__search-directions p {
    font-size: 13px;
  }
  .main__search-date {
    font-size: 13px;
  }
}
@media (max-width: 350px) {
  .mobile__city button {
    width: 115px;
  }
  .mobile__city button p {
    font-size: 12px;
  }
  .mobile__date-day {
    font-size: 12px;
    width: 60px;
  }
  .excursions__item-time--mobile {
    font-size: 8px;
  }
  .mobile__add {
    font-size: 10px;
  }
}
@media (max-width: 335px) {
  .footer__list-contact p {
    font-size: 11px;
  }
}