*{
	box-sizing: border-box;
}
.container{
	margin: 0 auto;
	max-width: 1310px;
	padding:0 15px;
}
.btn-menu__list{
	display: none;
	width: 30px;
	height: 25px;
	border: 1px solid #FFDBAD;
	position: absolute;
	right: 30px;
margin-top: 18px;
cursor: pointer;
}
.btn-menu__list div{
	height: 1px;
	width: 24px;
	margin-left: 2px;
	background-color: #FFDBAD;
	margin-top: 5px;
}
.header-block{
	background-color: #0D121B;
	background: rgba(13, 18, 27, 0.9);
	padding-top: 27px;
	padding-bottom: 33px;
}
.menu-list{
	display: flex;
	padding-left: 20px;
	padding-top: 3px;
	position: relative;
}
img{
	max-width: 100%;
}
a{
	text-decoration: none;
}
.header{
	position: absolute;
	left: 0;
	right: 0;
	z-index: 5;
	background: linear-gradient(77.61deg, rgba(13, 18, 27, 0.9) 0%, rgba(0, 0, 0, 0) 128.26%), linear-gradient(77.61deg, rgba(50, 50, 50, 0.7) 0%, rgba(50, 50, 50, 0) 128.26%);
}
body{
	font-family: Montserrat;
	background-color: #F9FBFE;
}
.recording-inner__prof{
	display: block;
}
.slider-top{
	width: 100%;
	margin: 0 auto;
}
.menu-list a{
	color: #FFFFFF;
	opacity: 0.5;
	font-size: 15px;
}
.menu-list li{
	margin-right: 49px;
}
.header-block__inner{
	display: flex;
}
.header-block__menu{
	display: block;

}
.header-menu__description{
	font-size: 12px;
	display: flex;
	color: #fff;
	margin-top: 30px;
	margin-left: 17px;
}
.visit{
	color: #FFFFFF;;
	border-bottom: 1px solid white;
}
.header__phone{
	position: absolute;
	bottom: 9px;
	left: 4px;
}
.header-block__phones{
	position: relative;
	display: flex;
}
.header-block__vector{
	position: absolute;
	top: 0;
	bottom: 0;
	
}
.header-block__vector img{
	margin-top: -26px;
	margin-left: -49px;
}
.header-block__item{
	position: relative;

}
.header-phones__two{
	letter-spacing: 0.2px;
	margin-top: 12px;

}
.header-phones__inner{
	margin-top: 15px;
}
.header-phones{
	margin-top: 6px;
	font-size: 18px;
	color: #FFFFFF;
}
.header-cities{
	margin-top: 7px;
	margin-left: 14px;
	color: #fff;
}
.header-cities__spb{
	margin-top: 15px;
}
.menu-list__down a:before{
	content: "\ea43";
	font-family: 'icomoon';
	color: #FFFFFF;
	opacity: 0.5;
	position: absolute;
	left: 69px;
	top: 5px;
}
.menu-list__down ul{
	position: absolute;
	min-width: 150px;
	display: none;

}

.menu-list__down ul li{
	background-color: #0D121B;
	background: rgba(13, 18, 27, 0.9);
	padding-left: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 75px;
}
.menu-list__down:hover ul{
	display: block;
} 
.menu-list__down:hover a:before{
	display: none;
}
h1{
	margin-top: 105px;
	font-size: 48px;
	width: 803px;
	line-height: 140.9%;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
}
h1 span{
	color: #FFEBBA;
}
.header-description__images{
	position: relative;
	margin-top: 39px;
}
.header-images__one{
	top:-7px;
	left: 3px;
	position: absolute;
}
.header-description__inner{
	display: flex;
}
.header-description__info{
	font-size: 18px;
	line-height: 180%;
	margin-left: 23px;
	margin-top: 42px;
	color:white;
	max-width: 551px;
}
.header-description__info span{
	color: #FFEBBA;
}
.header-description__block input{
	margin-top: 61px;
	border-top: none;
	outline: none;
	font-size: 16px;
	color: #fff;
	background-color: transparent;
	padding-bottom: 14px;
	width: 300px;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-bottom: 1px solid #fff;

}
.header-description__block input::placeholder{
	font-size: 16px;
	color: #fff;

}
.header-description__block{
	display: flex;
}
.header-description__btn{
	position: relative;
	margin-bottom: -57px;
	left: 44px;
}
.button-one{
	position: absolute;
	left: 19px;
	cursor: pointer;
	top: 22px;
	font-size: 16px;
	padding-left: 43px;
	padding-right: 65px;
	padding-top: 21px;
	padding-bottom: 24px;
	background: linear-gradient(268.05deg, #FFF9C6 15.37%, #FFD8AB 99.44%);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);	
}
.header-description{
	padding-bottom: 141px;
}
.header-img__select{
	position: absolute;
	margin-left: -34px;
	margin-top: -3px;
}
.header-items__inner{
	display: flex;
	padding-bottom: 69px;
}
.header-items__text{
	font-size: 16px;
	line-height: 160%;
	padding-left: 20px;
}
.header-items__gost,
.header-items__norms,
.header-items__pojelaniem,
.header-items__proectirovanie{
	display: flex;
	color:white;
}
.header-items__gost{
	padding-right: 98px;
}
.norms-description{
	width: 249px;
	margin-right: 27px;
}
.proectirovanie-description{
	width: 200px;
}
.header-items__pojelaniem{
	margin-right: 81px;
}
.slider .slick-dots{
	display: block;
}
.slider-item{
	height: 900px;
	background-repeat: no-repeat;
	background-size: cover;
}
.slider .slick-dots button{
	width: 15px;
	padding: 0;
	font-size: 0;
	height: 15px;
	border:1px solid white;
	background-color: transparent;
	cursor: pointer;
	outline: none;
	
}
.slider .slick-dots .slick-active button{
	background-color: white;
}
.slider .slick-dots li{
	margin:0 5px;
	margin-bottom: 27px;
}
.slider .slick-dots{
	margin: -600px auto 0;
	position: relative;
	right: 0;
	margin-left: 1638px;
	z-index: 6;
	max-width: 1200px;
}
.page{
	position: relative;
	margin-top: 386px;
	background-image: url(../img/fon02.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-bottom: 100px;
}
.page-img{
	position: absolute;
	margin-left: -46px;
	margin-top: -16px;
}
.page-wrap__title h2{
	font-size: 40px;
	color:white;
	font-weight: 600;
	text-transform: uppercase;
	max-width: 919px;
	line-height: 50px;
	padding-top: 120px;
}
.page-wrap__description p{
	font-size: 20px;
	color:white;
	font-weight: 600;
	margin-top: 20px;
	margin-bottom: 90px;
}
.page-factors__rhythm,
.page-factors__location,
.page-factors__design,
.page-factors__geology,
.page-factors__way{
	display: flex;
}
.page-factors__location{
	margin-top: 134px;
}
.page-factors__design{
	margin-top: 70px;
}
.page-factors__geology{
	margin-bottom: 106px;
}
.page-rhythm__title h3,
.page-location__title h3,
.page-design__title h3,
.page-geology__title h3,
.page-way__title h3{
 	font-size: 18px;
 	font-weight: 600;
 	color:white;
 	margin-bottom: 13px;
}
.page-rhythm__title{
	margin-left: 40px;
}
.page-location__title{
	margin-left: 31px;
}
.page-design__title{
	margin-left: 29px;
}
.page-geology__title{
	margin-left: 30px;
}
.page-way__title{
	margin-left: 25px;
}

.page-rhythm__description{
	font-size: 16px;
	font-weight: 300;
	color: white;
	line-height: 200%;
	max-width: 580px;
}
.page-location__description{
	font-size: 16px;
	font-weight: 300;
	color: white;
	line-height: 200%;
	max-width: 551px;
}
.page-design__description{
	font-size: 16px;
	font-weight: 300;
	color: white;
	line-height: 200%;
	max-width: 538px
}
.page-geology__description{
	font-size: 16px;
	font-weight: 300;
	color: white;
	line-height: 200%;
	max-width: 582px;
}
.page-way__description{
	font-size: 16px;
	font-weight: 300;
	color: white;
	line-height: 200%;
	max-width: 601px;
}
.page-factors__inner{
	display: flex;
}
.page-factors__blockTwo{
	margin-left: 42px;
}
.page-btn{
	position: relative;
	margin-top: 153px;
}
.button-two{
	position: absolute;
	left: 19px;
	cursor: pointer;
	top: 22px;
	font-size: 16px;
	padding-left: 43px;
	padding-right: 65px;
	padding-top: 21px;
	padding-bottom: 24px;
	background: linear-gradient(268.05deg, #FFF9C6 15.37%, #FFD8AB 99.44%);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);	
}
.specialty-title__inner h2{
	text-transform: uppercase;
	color:black;
	font-size: 40px;
	font-weight: 700;
	margin-top: 120px;
	max-width: 1219px;
	line-height: 56px;
	margin-bottom: 20px;
}
.specialty-title__inner p{
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 32px;
}
.specialty{
	background-image: url(../img/Rectangle2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	
}
.specialty-block__development,
.specialty-block__design,
.specialty-block__project{
	display: flex;
}
.specialty-development__number p,
.specialty-design__number p,
.specialty-project__number p{
	font-size: 110px;
	font-weight: 900;
	text-transform: uppercase;
	color:#FFE9B8;
}
.development-content__title p,
.design-content__title p,
.project-content__title p{
	font-weight: 700;
	font-size: 18px;
	color:black;
}
.specialty-development__content,
.specialty-design__content,
.specialty-project__content{
	margin-top: 18px;
	margin-left: 29px;
	
}
.specialty-block__design,
.specialty-block__project{
	margin-top: 89px;
}
.development-content__description p,
.design-content__description p,
.project-content__description p{
	margin-top: 13px;
	font-weight: 300;
	font-size: 16px;
	color: #1E1E1E;
	max-width: 553px;
	line-height: 200%;
	margin-bottom: 13px;
}
.development-content__responsible p,
.design-content__responsible p,
.project-content__responsible p{
	font-weight: 700;
	font-size: 16px;
	line-height: 200%;
	color: #ECD78D;
	margin-bottom: 89px;
}
.specialty-blocks__inner{
	display: flex;
}
.specialty-block__two{
    margin-top: -61px;
}
.recording-inner__description h3{
	font-weight: 700;
	font-size: 40px;
	text-transform: uppercase;
	max-width: 833px;
	line-height: 56px;
	margin-top: 120px;
}
.recording-description__main{
	font-weight: 700;
	font-size: 20px;
	line-height: 34px;
	max-width: 639px;
}
.recording-description__call{
	font-size:16px;
	line-height: 32px;
	color:#9C9C9C;
	margin-top: 38px;
	max-width: 610px;
}
.recording-description__call span{
	color:black;
	font-weight: 700;

}
.recording-description__form input{
	border:transparent;
	border-bottom: 4px solid #FFDAAC;
	padding-bottom: 17px;
	width: 300px;
	background-color: #F9FBFE;
}
.recording-description__form input::placeholder{
	font-size: 16px;
	color: black;

}
.recording{
	padding-bottom: 120px;
}
.button-three{
	position: absolute;
	margin-left: 302px;
	left: 19px;
	outline: none;
	cursor: pointer;
	top: -31px;
	z-index: 3;
	font-size: 16px;
	padding-left: 43px;
	padding-right: 65px;
	padding-top: 21px;
	padding-bottom: 24px;
	background: linear-gradient(268.05deg, #FFF9C6 15.37%, #FFD8AB 99.44%);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);	
}
.recording-inner{
	display: flex;
}
.recording-description__form{
	margin-top: 43px;
	position: relative;
}
.recording-prof__image{
	margin-top: 256px;
	position: relative;
}
.recording-image__man{
	position: absolute;
	top: -206px;
	left: 63px;
}
.recording-skills__image{
	position: relative;

}
.recording-image__vector{
	position: absolute;
	left: 0;
	bottom: 62px;
}
.recording-skills__position{
	display: flex;
}
.recording-prof__image p{
	font-size: 30px;
	font-weight: 700;
	line-height: 170%;
}
.recording-prof__image span{
	font-size: 25px;
	font-weight: 700;
	color:#F2C58E;
}
.recording-skills__position p{
	font-size: 14px;
	line-height: 200%;
	max-width: 343px;
	margin-left: 15px;
}
.recording-image__vector02,
.recording-image__vector03,
.recording-image__vector04{
	position: absolute;
	left: 0;
	top: 1px;
}
.recording-inner__prof{
	display: flex;
}
.recording-prof__skills{
    margin-top: 270px;
        margin-left: 64px;
}
.recording-image__vect{
	position: absolute;
	top: 129px;
	right: -625px;
}
.recording-inner__description{
	position: relative;
}
.examples-image{
	position: absolute;
	top: -34px;
	left: -24px;
}
.examples__title{
	padding-bottom: 23px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 40px;
	margin-bottom: 60px;
}
.examples-architectural__images{
	position: relative;
}
.examples{
	padding-top: 120px;
	padding-bottom: 139px;
}
.examples-item__inner{
	display: flex;
	justify-content: space-between;
}
.examples-item__description{
	font-size: 18px;
	max-width: 229px;
	line-height: 160%;
	font-weight: 700;
	margin-bottom: 22px;
	margin-top: -100px;
}
.num{
	max-width: 263px;
}
.num02{
	max-width: 263px;
}
.examples-item__span{
	color:#F2C48E;
	position: relative;
}
.examples-span__img{
	position: absolute;
	margin-left: 75px;
	margin-top: -13px;
}
.projects{
	background-image: url(../img/fon08.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 120px;
}
.projects-title{
	text-transform: uppercase;
	color:white;
	font-weight: 700;
	font-size: 40px;
	line-height: 140.2%;
	margin-bottom: 70px;
	max-width: 1008px;
}
.projects-title span{
	color: #FFD9AB;
}
.projects-img{
    position: absolute;
    margin-right: -36px;
    margin-left: -674px;
    margin-top: 12px;
}
.projects-description__inner p{
	font-weight: 600;
	font-size: 18px;
	color:white;
	line-height: 160%;
	margin-left: -82px;
	margin-bottom: 10px;
}
.projects-description__inner p span{
	color:#F2C48E;
}
.projects-blocks__inner{
	display: flex;
	justify-content: space-between;
}
.button-five{
	position: absolute;
	margin-left: 302px;
	left: 19px;
	outline: none;
	cursor: pointer;
	top: 148px;
	z-index: 3;
	font-size: 16px;
	padding-left: 43px;
	padding-right: 65px;
	padding-top: 21px;
	padding-bottom: 24px;
	margin-left: 101px;
	background: linear-gradient(268.05deg, #FFF9C6 15.37%, #FFD8AB 99.44%);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
}
.projects-description__span{
	font-weight: 300;
	font-size: 16px;
	color: #FFFFFF;
	margin-left: -80px;
	line-height: 200%;
}
.projects-description__inner{
	padding-bottom: 60px;

}
.projects-block__flat{
	position: relative;
}
.facts{
	background-image: url(../img/MaskGroup.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #0F0F0F;
	color: white;
	padding-bottom: 100px;
}
.facts-title p{
	font-weight: 600;
	font-size: 40px;
	line-height: 140.2%;
	padding-top: 120px;
	margin-bottom: 15px;
	text-transform: uppercase;
	width: 972px;
}
.facts-title span{
	font-weight: 600;
font-size: 20px;
	line-height: 170%;
	
}
.facts-title{
padding-bottom: 73px;
}
.facts-block__inner{
	display: flex;
}
.facts-years,
.facts-number{
	font-weight: 600;
font-size: 60px;
line-height: 77px;

/* identical to box height */
text-transform: uppercase;

/* main gradient */
color: #FFD8AB;
}
.facts-experience,
.facts-people{
	font-weight: 600;
font-size: 18px;
line-height: 140%;
margin-left: 25px;
width: 150px;
margin-top: 11px;
margin-bottom: 42px;
}
.button-six{
		position: absolute;
	margin-left: 302px;
	left: 19px;
	outline: none;
	cursor: pointer;
	top: 29px;
	z-index: 3;
	font-size: 16px;
	padding-left: 43px;
	padding-right: 65px;
	padding-top: 21px;
	padding-bottom: 24px;
	margin-left: 8px;
	background: linear-gradient(268.05deg, #FFF9C6 15.37%, #FFD8AB 99.44%);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
}
.facts-btn{
	position: relative;
}
.facts-description__inner{
	display: flex;
}
.block-wrapper__images{
	position: relative;
}
.facts-img{
	position: absolute;
	top: 20px;
left: 4px;
}
.facts-blockTwo__wrapper{
	display: flex;

}
.facts-cycle{
	display: flex;
}
.facts-cycle__title{
	font-weight: 600;
	font-size: 18px;
	line-height: 160%;
	width: 247px;
	margin-top: 10px;
}
.facts-cycle__description{
	font-weight: 300;
font-size: 16px;
line-height: 200%;
width: 257px;
}
.facts-block__two{
    margin-left: 71px;
}
.team{
	background-image: url(../img/fon06.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color:white;
	padding-bottom: 120px;
}
.team-title{
	text-transform: uppercase;
	padding-top: 120px;
	padding-bottom: 80px;
	font-weight: 600;
	font-size: 40px;
}
.team-people{
	display: flex;
}
.team-people__one,
.team-people__two,
.team-people__three{
	margin-right: 83px;
}
.people-one__name,
.people-two__name,
.people-three__name,
.people-four__name{
	font-weight: 600;
	padding-bottom: 20px;
	font-size: 18px;
}
.people-one__proff,
.people-two__proff,
.people-three__proff,
.people-four__proff{
	font-weight: 600;
	line-height: 200%;
	font-size: 16px;
	padding-bottom: 5px;
	color: #FFD8AB;
}
.people-one__description,
.people-two__description,
.people-three__description,
.people-four__description{
	font-weight: 300;
font-size: 16px;
line-height: 200%;
width: 300px;
}
.slick-track{
	display: flex;
}
.team-people  .slick-list{
	overflow: hidden;
}
.team-people{
	position: relative;
}
.team-people .slick-arrow{
	position: absolute;
	top: 50%;
	z-index: 6;
	width: 100px;
}
.team-people .slick-prev{
	left: 740px;
	display: none;
	background-color: transparent;
	background-image: url(../img/Arrow-left.png);
	background-repeat: no-repeat;
	border:none;
	color: transparent;
	top: -107px;
}
.team-people .slick-next{
	right: 310px;
	top: -107px;
	display: none;
	border:none;
	color: transparent;
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url(../img/Arrow-right.png);
}
.services{
	background-image: url(../img/fon09.jpg);
	padding-top: 120px;
	padding-bottom: 94px;
}
.services-title{
	font-weight: 600;
	font-size: 40px;
	line-height: 140.2%;
	max-width: 925px;
	text-transform: uppercase;
	padding-bottom: 82px;
}
.services-item{
	display: flex;
}
.services-item__title{
	font-weight: 600;
font-size: 18px;
line-height: 160%;
margin-bottom: 13px;
}
.services-item__description{
	font-weight: 300;
font-size: 16px;
line-height: 200%;
max-width: 600px;
}
.services-item__inner{
	margin-top: 33px;
}
.zamok{
	margin-left: 23px;
}
.clock{
	margin-left: 11px;
}
.services-inner{
	display: flex;
}
.services-block{
	margin-top: 47px;
}
.toogle-inner{
	display: flex;
}
.button-seven{
	margin-left: 302px;
	left: 19px;
	outline: none;
	cursor: pointer;
	top: 29px;
	z-index: 3;
	font-size: 16px;
	padding-left: 43px;
	padding-right: 65px;
	padding-top: 21px;
	padding-bottom: 24px;
	margin-left: 8px;
	background: linear-gradient(268.05deg, #FFF9C6 15.37%, #FFD8AB 99.44%);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
	margin-top: 15px;
}
.description{
	background-image: url(../img/fon10.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	color:white;
	padding-top: 120px;
	padding-bottom: 125px;
}
.description-title{
	font-weight: 600;
	font-size: 40px;
	line-height: 140.2%;
	text-transform: uppercase;
	max-width: 718px;
	margin-bottom: 20px;
}
.description-block{
	font-weight: 600;
font-size: 20px;
line-height: 170%;
max-width: 665px;
margin-bottom: 70px;
}
.description-item__images{
	position: relative;
}
.description-item__image{
	position: absolute;
	top: 25px;
	left: 0;
}
.description-item{
	display: flex;
	margin-bottom: 50px;
}
.description-item__title{
	font-weight: 600;
font-size: 18px;
line-height: 160%;
margin-bottom: 13px;
}
.description-item__block{
	margin-top: 14px;
}
.description-item__description{
	max-width: 620px;
	font-weight: 300;
font-size: 16px;
line-height: 200%;
}
.description__inner{
	display: flex;
}
.reviews{
	background-image: url(../img/fon11.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 115px;
}
.reviews-title{
	font-weight: 600;
font-size: 40px;
line-height: 140.2%;
max-width: 950px;
/* or 56px */
margin-bottom: 20px;
text-transform: uppercase;
}
.reviews-block p{
	font-weight: 600;
font-size: 20px;
line-height: 170%;
}
.reviews-inner{
	display: flex;
}
.button-eight{
	margin-left: 302px;
	left: 19px;
	outline: none;
	cursor: pointer;
	top: 29px;
	z-index: 3;
	font-size: 16px;
	padding-left: 43px;
	padding-right: 65px;
	padding-top: 21px;
	padding-bottom: 24px;
	margin-left: 8px;
	background: linear-gradient(268.05deg, #FFF9C6 15.37%, #FFD8AB 99.44%);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
	margin-top: 15px;
}
.reviews-one p{
	background: #FFFFFF;
	box-shadow: 0px 10px 24px rgba(49, 49, 55, 0.12);
	font-weight: 300;
font-size: 16px;
line-height: 200%;
padding-top: 40px;
padding-right: 110px;
padding-bottom: 43px;
padding-left: 50px;
margin-top: 80px;
}
.reviews-one span{
	margin-left: 1050px;
	font-weight: 600;
font-size: 18px;
line-height: 160%;
}
.reviews-one{
	margin-bottom: 45px;
}
.reviews-item__inner{
	display: flex;
	padding-bottom: 137px;
}
.reviews-two p{
	background: #FFFFFF;
	box-shadow: 0px 10px 24px rgba(49, 49, 55, 0.12);
	font-weight: 300;
font-size: 16px;
line-height: 200%;
padding-top: 40px;
padding-right: 110px;
padding-bottom: 43px;
padding-left: 50px;
max-width: 1344px;
}
.reviews-two span{
	font-weight: 600;
font-size: 18px;
line-height: 160%;
margin-left: 425px;
}
.reviews-two{
	margin-right: 30px;
}
.reviews-three p{
	background: #FFFFFF;
	box-shadow: 0px 10px 24px rgba(49, 49, 55, 0.12);
	font-weight: 300;
font-size: 16px;
line-height: 200%;
padding-top: 40px;
padding-right: 110px;
padding-bottom: 107px;
padding-left: 50px;
}
.reviews-three span{
	font-weight: 600;
	font-size: 18px;
	line-height: 160%;
	margin-left: 390px;
}
.get{
	position: relative;
	padding-top: 120px;
	padding-bottom: 136px;

}
.get-title{
	font-weight: 600;
font-size: 40px;
line-height: 140.2%;
text-transform: uppercase;
margin-bottom: 30px;
}
.get-block__image{
	position: relative;
}
.get-img{
	position: absolute;
	top: -19px;
left: 2px;
}
.get-block{
	display: flex;
	margin-bottom: 47px;
}
.get-block__title{
	margin-left: 30px;
	margin-top: 13px;
}
.get-block__title h3{
	font-weight: 600;
font-size: 20px;
line-height: 170%;
margin-bottom: 5px;
}
.get-block__title p{
	font-weight: 300;
font-size: 16px;
line-height: 200%;
max-width: 667px;
}
.get-form{
	display: flex;
}
.form-input__one,
.form-input__two{
	border:transparent;
	border-bottom:2px solid #FFD8AB;
	padding-bottom: 15px;
	margin-right: 30px;
	background-color: transparent;
}
.form-input__one::placeholder,
.form-input__two::placeholder{
	font-size: 16px;
line-height: 180%;
color: #1E1E1E;
}
.get-inner{
	display: flex;
}
.get-item__two{
	position: absolute;
	right: 0;
z-index: -1;
}
.button-nine{
	margin-left: 302px;
	left: 19px;
	outline: none;
	cursor: pointer;
	top: 29px;
	z-index: 3;
	font-size: 16px;
	padding-left: 43px;
	padding-right: 65px;
	padding-top: 21px;
	padding-bottom: 24px;
	margin-left: 8px;
	background: linear-gradient(268.05deg, #FFF9C6 15.37%, #FFD8AB 99.44%);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
	margin-bottom: -55px;
	margin-top: -15px;
}
.footer{
	background-color: #0c0c0c;
	color: white;
	padding-top: 120px;
}
.footer-items__inner{
	padding-bottom: 111px;
}
.footer-items__inner,
.item-moscow__address,
.item-moscow__phone,
.item-moscow__email{
	display: flex;
}
.item-moscow__address,
.item-moscow__phone{
	margin-bottom: 20px;
}
.footer-item__images{
	display: flex;
}
.footer-item__facebook{
	margin-right: 20px;
}
.footer-item__two{
	margin-left: 102px;
}
.footer-item__we{
	margin-top: 56px;
	font-weight: 300;
font-size: 16px;
line-height: 200%;
margin-bottom: 15px;
}
.footer-item__two,
.footer-item__three{
	margin-right: 128px;
}
.footer__menu-list a{
	color: white;
	font-weight: 300;
font-size: 16px;
line-height: 200%;
}
.item-moscow__block{
	font-weight: 600;
font-size: 16px;
line-height: 200%;
margin-left: 13px;
}
.item-moscow__block p{
	font-weight: 300;
	max-width: 276px;
}
.footer-about{
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #151618;
}
.footer-about__inner{
	display: flex;
}
.footer-about__dysigner{
	margin-left: 512px;
}