@media(max-width:1265px){
	.btn-menu__list{
		display: block;
	}
	.menu-list{
		display: block;
	}
	
	.menu-list__down ul{
		display: block;
		
	}
	.menu-list__down ul li{
		background-color: transparent;
	}
	.menu-list__down a:before{
		display: none;
	}
	.menu-list__down{
		margin-bottom: 111px;
		
	}
	.toogle-inner{
		position: absolute;
		left: 90px;
		top: 122px;
		right: 0;
		background-color: #0D121B;
		display: block;
		padding-bottom: 18px;
padding-left: 16px;
	}
	.toogle-inner{
		display: none;
	}
	.header-block__item{
		position: relative;
	}
	.header-block__vector{
		display: none;
	}
}

@media(max-width:376px){
.toogle-inner{
		position: absolute;
		left: 70px;
	}
}
@media(max-width:349px){
	.toogle-inner{
		position: absolute;
		left: 40px;
	}
}
@media(max-width:332px){
	.toogle-inner{
		padding-left: 1px;
	}
}
@media(max-width:1040px){
.header-items__inner{
	display: block;
	margin: 0 auto;
	max-width: 320px;
}
.header-description h1{
font-size: 32px;
    max-width: 803px
}
}
@media(max-width:804px){

.header-description h1 {
    font-size: 32px;
    max-width: 100%;
}
.header-description__block{
	display: block;
}
.header-description__btn{
	    width: 87%;
}
}
@media(max-width:404px){
.header-description__btn {
    
    left: 0px; 
}
.header-description__btn img{
	width: 70%;
}
}
@media(max-width:1920px){
.slider .slick-dots {
    margin-left: 0px;
    right: 83px;
    position: absolute;
}
.slider-item{
	background-size: cover;
	
}
.page {

    margin-top: -5px;
    }
.recording-image__vector {
    
    bottom: 39px;
}
.man02{
    position: absolute;
    top: -153px;
    }
}
@media(max-width:1014px){
.slider-item{
	height: 1200px;
}
.header-items{
    padding-bottom: 0px;
}
}
@media(max-width:878px){
.slider .slick-dots {
    display: flex;
    z-index: 4;
}
.slider .slick-dots {
    
    right: 265px;
    
    bottom: 1000px;
    }
    .toogle-inner{
z-index: 10;
    }
}
@media(max-width:392px){
.slider .slick-dots {
    right: 117px;
}
}
@media(max-width:1037px){
.header-items{
    padding-bottom: 272px;
}
	}
@media(max-width:793px){
.header-items {
    padding-bottom: 176px;
}
}
@media(max-width:666px){
.header-items {
    padding-bottom: 132px;
}
	}
	@media(max-width:611px){
.header-items {
    padding-bottom: 101px;
}
	}
@media(max-width:508px){
.header-items {
    padding-bottom: 62px;
}
}
@media(max-width:447px){
.header-items {
    padding-bottom: 29px;
}
}
@media(max-width:387px){
.header-items {
    padding-bottom: 0px;
}
	}
@media(max-width:364px){
.header-items__inner {
    
    padding-bottom: 32px;
}
}
@media(max-width:328px){
.header-items__inner {
    padding-bottom: 14px;
}
	}
@media(max-width:976px){
.page-factors__inner{
	display: block;
	margin: 0 auto;
	max-width: 400px;
}
.page-factors__blockTwo {
     margin-left: 0px; 
    margin-top: 72px;
}
}
@media(max-width:354px){
.page-btn img{
	max-width: 70%;
}

}
@media(max-width:1030px){
.specialty-blocks__inner{
	display: block;
	margin: 0 auto;
	max-width: 400px;
}
}
@media(max-width:670px){
.specialty-title__inner h2 {
    
    font-size: 32px;}
}
@media(max-width:539px){
.specialty-title__inner h2 {
    font-size: 20px;
}
}
@media(max-width:370px){
.specialty-title__inner h2 {
    line-height: 28px;
    font-size: 18px;
}
}
@media(max-width:1277px){
.recording-inner{
	display: block;
	margin: 0 auto;
	max-width: 600px;
}
.recording-image__man {
    
    top: -201px;
    }
    .recording-image__vect {
    position: absolute;
    top: 683px;
    right: 0;
}
}
@media(max-width:621px){
.button-three {
    
    margin-left: 27px;
   
    top: 45px;
}
}
@media(max-width:563px){
.recording-inner__prof {
    display: block;
}
.recording-prof__image {
    margin-top: 321px;
    }
    .recording-image__man {
    width: 82%;
    top: -153px;
}
.recording-image__vector {
   
    bottom: 36px;
}
}
@media(max-width:356px){
.recording-inner__description h3 {
   
    font-size: 34px;
}
.button-three {
    margin-left: -14px;
    }
    .recording-prof__skills {
   
    margin-left: 19px;
}
}

@media(max-width:1600px){
.slider .slick-dots{
    margin-top: -410px;
}
.page{
    margin-top: 0px;
}
.slider-top{
margin-bottom: 0px;
}
.header-description {
    padding-bottom: 144px;
}

}
@media(max-width:1308px){
	.examples-item__inner{
		display: block;
		margin: 0 auto;
		max-width: 320px;
	}
	.examples-item__span {
    margin-bottom: 40px;
}
}
@media(max-width:1467px){
.projects-block__one{
    margin-left: 58px;
}
}
@media(max-width:1340px){
.projects-blocks__inner{
	display: block;
	margin: 0 auto;
	max-width: 700px;
}
.projects-block__one{
    margin-left: 0px;
}
}
@media(max-width:889px){
.projects-blocks__inner {
    margin-left: 100px;
}
.button-five {
    top: 478px;
}
}
@media(max-width:592px){
.projects-block__flat{
    
    padding-bottom: 182px;}

.projects-blocks__inner img{
width: 320px;
	}
	.projects-img {
    position: absolute;
    right: 160px;
}
.projects-title {
    
    font-size: 35px;
    }
    .projects-img {
    position: absolute;
     margin-right: 0px; 
    margin-left: 0px;
}
.projects-blocks__inner {
     margin-left: 0px;
     text-align: center;
}
.projects-description__inner{
	/*position: absolute;*/
	right: 0;
}
.projects-description__inner p {
    
     margin-left: 0px;
}
.projects-description__span {
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 0px;
    
}
}
@media(max-width:486px){
.projects-img {
    position: absolute; 
    margin-right: -137px;
}
.projects-title {
    font-size: 26px;
}
.button-five {
    margin-left: 0px;
}
}
@media(max-width:1350px){
.facts-description__inner{
	display: block;
	
}
.facts-block__one{
margin: 0 auto;
	max-width: 500px;
}
.facts-block__two{
	margin: 0 auto;
	max-width: 700px;
}
.team-people{
	display: block;
}
.team-people .slick-next {
    right: 439px;
    top: -51px;
    }
}
@media(max-width:965px){
.facts-blockTwo__wrapper{
	display: block;
	margin: 0 auto;
	max-width: 350px;
	}
.facts-title p {
    
    max-width: 600px; 
}
}
@media(max-width:600px){
.facts-title p {
    
    max-width: 320px; 
}
}
@media(max-width:817px){
.team-people .slick-prev {
    left: 576px;
    top: -148px;
}
}
@media(max-width:684px){
.team-people .slick-prev {
    left: 138px;
    top: -148px;
}
}
@media(max-width:552px){
.team-people .slick-prev {
        left: 14px;
    top: -195px;
}
.team-people .slick-next {
    left: 115px;
    top: -195px;
    }
	}
@media(max-width:1290px){
.services-inner{
	display: block;
	margin: 0 auto;
	max-width: 600px;
}
.reviews-item__inner{
	display: block;
}
.reviews-two,
.reviews-three{
	width: 90%;
	margin: 0 auto;
	max-width: 90%;
}
.reviews-one span {
     margin-left: 0px;
}
.reviews-inner{
	display: block;
}
}
@media (max-width: 1920px){
.man02 {
    position: absolute;
    top: -153px;
}
}
@media(max-width: 1014px){
.description__inner{
	display: block;
	margin: 0 auto;
	max-width: 800px;
}

}
@media(max-width: 675px){
.reviews-two span,
.reviews-three span{
    margin-left: 0px; 
}
.get-form{
	display: block;
}
.button-nine {
    margin-top: 41px;
}
.reviews-title {
    font-size: 31px;
    }
}
@media(max-width: 1210px){
.footer-items__inner{
	display: block;
	margin: 0 auto;
	max-width: 400px;
}
.footer-item__two {
    margin-left: 0px; 
}
.footer-about__inner{
	display: block;
}
.footer-about__dysigner {
margin-left: 0;
}
}
@media(max-width: 1620px){
.button-five {
    margin-left: 1px;
}
}
